.main
  .form_box
    .title
      住所
    = @address.address
    .button
      = link_to edit_address_path(current_user.id) do
        変更する
  .form_box
    .title
      顔写真
    = image_tag("#{@image.image.url}", size: '120x120', class: 'img__img')
    .button
      = link_to edit_image_path(current_user.id) do
        変更する
  .form_box
    .title
      Eメールアドレス
    = @information.email
    .title
      電話番号
    = @information.phone_number
    .button
      = link_to edit_information_path(current_user.id) do
        変更する
  .form_box
    .submit
      = link_to user_path(current_user.id) do
        手数料支払いへ
      