= render 'header'

.address
  = form_with model: @image, class: 'edit_image_form', local: true do |f|
    .form
      = image_tag("#{@image.image.url}", size: '120x120', class: 'img__img')
    .form
      .label 撮影から6ヶ月以内のデータを添付してください
      = f.file_field :image, placeholder: 'PC・携帯どちらでも可', class:"input-information"
    .actions
      = f.submit "登録"